body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: lightgray;  
    --secondary-color: rgb(241, 238, 238);
    --accent-color: rgb(123, 123, 123);  
    --text-color: rgb(85, 85, 85);
}

header {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    text-align: center;
}
    
main {
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a:hover {
    color: #FFFFFF;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.about-me p, .about-me ul {
    color: var(--accent-color);
}

.about-me ul {
    padding: 0;
}

.about-me li {
    list-style-type: none;
    margin-bottom: 10px;
}

.about-me .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 75px; 
    margin: 20px auto;
    display: block;
}

footer {
    text-align: center;
    background-color:white;
    color: var(--accent-color);
    padding: 10px 0;
}


a {
    text-decoration: none;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    text-decoration: underline;
}

* {
box-sizing: border-box;
}

.project2 {
    display: flex;
    align-items: center; /* Centrerar elementen vertikalt */
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    background: linear-gradient(to right, var(--secondary-color) 50%, var(--primary-color) 50%);
    max-width: 80%; 
    margin: 20px auto;
    max-height: 70%;
}

.project-container {
    width: 100%;
    overflow-x: hidden; 
}

.project-text {
    max-width: 40%; 
    margin: auto; 
    text-align: left; 
}

.project {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.2);
    background: linear-gradient(to left, var(--secondary-color) 50%, var(--primary-color) 50%);
    max-width: 80%; 
    margin: 20px auto;
}

.project-image, .project-description {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    
}

.project-image img {
    max-width: 100%; 
    height: auto; 
    object-fit: cover;
}

.project-description {
    align-items: flex-start;
    color: var(--text-color);
    max-width: 50%;
}

/* @media (max-width: 768px) {
    .project {
        flex-direction: column;
    }
    .project-image, .project-description {
        flex-basis: auto;
        max-width: 100%;
    }

} */


.project-description p, .project-description ul {
    margin-top: 20px; 
}

.project-description li {
    margin-bottom: 10px; 
}


.active {
    opacity: 1;
    transform: translateY(0);
}

a {
    color: var(--accent-color);
    transition: color 0.3s ease;
}
a:hover, a:focus {
    color: #FFFFFF; 
}

.project-image img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}



p{
    color: #333;
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contact-info {
    text-align: center;
}

.contact-info h1, .contact-info h2 {
    color: grey;
}

.contact-info p, .contact-info a {
    color: var(--accent-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="email"], textarea {
    width: 90%;
    padding: 8px;
    margin: 10px 0;

}

button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--accent-color);
}



@media (max-width: 1750px) {

.project-text {
 max-width: 80%;
}

}
@media (max-width: 950px) {
    .project, .project2 {
        flex-direction: column; 
        background: linear-gradient(to top, var(--secondary-color) 50%, var(--primary-color) 50%);
        /* Använder 'to top' för .project och 'to bottom' för .project2 för varierande effekter */
    }
    
    .project2 {
        background: linear-gradient(to bottom, var(--secondary-color) 50%, var(--primary-color) 50%);
        /* Specifikt åsidosätter för .project2 för att ha effekten åt motsatt håll */
    }

    .project-image, .project-description {
        flex-basis: 100%; /* Låter båda ta upp full bredd när de är staplade */
        max-width: 100%; /* Säkerställer att inga max-breddsbegränsningar gäller */
    }

    .project-description {
        width: 100%; /* Explicit breddinställning för att säkerställa full breddtagning */
        padding: 20px; /* Ger lite intern marginal om det behövs */
        box-sizing: border-box; /* Inkluderar padding i breddberäkningen */
    }

    .project-image img {
        max-height: 300px; 
        width: 100%; 
        object-fit: cover; 
    }
}
@media (max-width: 768px) {
    .project, .project2 {
        background: #ffffff; 
        padding: 15px;
        margin-bottom: 20px; 
        border: none; 
        box-shadow: none; 
    }

    .project-image img {
        height: auto; 
        max-width: 100%; 
    }

    .project-description {
        text-align: center; 
    }
}